@model MusicStoreApplication.Domain.Domain.Album

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Album</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Genres
        </dt>
        <dd class = "col-sm-10">
            @if (Model.Tracks != null && Model.Tracks.Count() > 0 && Model.Tracks.SelectMany(t => t.Genres).Count() > 0)
            {
                int index = 1;
                var genres = Model.Tracks.SelectMany(t => t.Genres).Select(gt => gt.Genre).ToHashSet();
                @(String.Join(", ", genres.Select(g => g.Name)))
            }
        </dd>
        <dt class = "col-sm-2">
            Artists
        </dt>
        <dd class = "col-sm-10">
            @if (Model.Tracks != null && Model.Tracks.Count() > 0 && Model.Tracks.SelectMany(t => t.Artists).Count() > 0)
            {
                int index = 1;
                var artists = Model.Tracks.SelectMany(t => t.Artists).Select(at => at.Artist).ToHashSet();
                @(String.Join(", ", artists.Select(a => a.Name)))
            }
        </dd>
    </dl>
</div>

<h4 class="font-weight-bold">Tracks:</h4>
<hr>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Genre
            </th>
            <th>
                Artists
			</th>
        </tr>
    </thead>
        @if (Model.Tracks != null && Model.Tracks.Count() > 0)
        {
			<tbody>
			@foreach (var item in Model.Tracks) {
				<tr>
					<td>
                        @item.Name
					</td>
					<td>
                        @(String.Join(", ", item.Genres.Select(gt => gt.Genre.Name)))
					</td>
					<td>
						@if (item.Artists != null && item.Artists.Count() > 0)
						{
                            @(String.Join(", ", item.Artists.Select(at => at.Artist.Name)))
                        }
					</td>
				</tr>
            }
			</tbody>
        }
</table>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
