@model MusicStoreApplication.Domain.Domain.Album

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Album</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Artists
        </dt>
        <dd class = "col-sm-10">
            @if (Model.Tracks != null && Model.Tracks.Count() > 0 && Model.Tracks.SelectMany(t => t.Artists).Count() > 0)
            {
                int index = 1;
                var artists = Model.Tracks.SelectMany(t => t.Artists).Select(at => at.Artist).ToHashSet();
                int length = artists.Count();
                @foreach (var artist in artists)
                {
                    <span>@artist.Name</span>    
                    @if(index != length)
                    {
                        <span>,&nbsp</span>
                    }
                    index++;
                }
            }
        </dd>
    </dl>
    <h5>Tracks:</h5>
    <hr>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Genre
            </th>
            <th>
                Artists
			</th>
        </tr>
    </thead>
        @if (Model.Tracks != null && Model.Tracks.Count() > 0)
        {
			<tbody>
			@foreach (var item in Model.Tracks) {
				<tr>
					<td>
                        @item.Name
					</td>
					<td>
                        @(String.Join(", ", item.Genres.Select(g => g.Name)))
					</td>
					<td>
						@if (item.Artists != null && item.Artists.Count() > 0)
						{
							int index = 1;
							int length = item.Artists.Count();
							@foreach(var artist in item.Artists.Select(at => at.Artist))
							{
								@artist.Name
									@if (index != length)
									{
										<span>,&nbsp</span>
									}
								}
								index++;

							}
							else
							{
								<span>None</span>
							}
					</td>
				</tr>
		}
			</tbody>
        }
</table>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
