@model MusicStoreApplication.Web.Models.TrackIndexViewModel

@{
    ViewData["Title"] = "Index";
}
<script>
    var showFilter = false;

    function toggleShowFilter() { 
        showFilter = !showFilter;
        let filterButton = document.getElementById("showFilterButton");
        let filters = document.getElementById("filters");
        if (showFilter) {
            filterButton.innerHTML = "Hide Filters <i class='fa-solid fa-chevron-up'></i>";
            filters.hidden = false;
        }
        else 
        {
            filterButton.innerHTML = "Show Filters <i class='fa-solid fa-chevron-down'></i>";
            filters.hidden = true;
        }
    }
</script>


<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form id="searchForm" class="container">
    <div class="row form-group">
        <div class="col col-lg-9 col-md-8 col-sm-7 p-0">
            <input class="form-control rounded-0" name="searchString" 
                type="search" placeholder="Search..." aria-label="Search" />
        </div>
        <div class="col col-lg-3 col-md-4 col-sm-5 p-0">
            <button onclick="toggleShowFilter()" class="btn btn-secondary btn-block w-100 rounded-0" type="button" id="showFilterButton">
                Show Filters
                <i class="fa-solid fa-chevron-down"></i>
            </button>
        </div>
    </div>

    <div id="filters" hidden>
        <div class="row mt-2">
            <div class="col-6">
                <div class="form-group row">
                    <label for="genreInput" class="col-2 col-form-label">Genre:</label>
                    <div class="col">
                    <input class="form-control rounded-0" name="genreInput" 
                        type="search" placeholder="Genre..." aria-label="Search" />
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group row ps-2">
                    <label for="artistSelection" class="col-form-label col-2">Artists:</label>
                    <div class="form-group col">
                        <select id="artistSelect" name="artistSelect" class="selectpicker" multiple data-live-search="true">
                            @foreach(var artist in Model.Artists)
                            {
                            <option value="@artist.Name">
                                @artist.Name
                            </option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row g-0 mt-2">
        <div class="col col-lg-9 col-md-8 col-sm-7 p-0">
        </div>
        <div class="col-lg-3 col-md-4 col-sm-5 p-0">
            <button class="btn btn-dark btn-block w-100 rounded-0" type="submit">
                Search <i class="fas fa-search"></i>
            </button>
        </div>
    <div/>

</form>


<table class="table">
    <thead>
        <tr>
            <th>Track Name</th>
            <th>Genre</th>
            <th>Artists</th>
            <th>Album</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tracks.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
				@if (item.Artists != null && item.Artists.Count() > 0)
				{
					int index = 1;
					int length = item.Artists.Count();
					@foreach(var artist in item.Artists.Select(at => at.Artist))
					{
						@artist.Name
                            @if (index != length)
                            {
                                <span>,&nbsp</span>
                            }
                        }
                        index++;

                    }
                    else
                    {
                        <span>None</span>
                    }
            </td>
            <td>
				@if (item.Album != null)
				{
					@item.Album.Name
				}
				else
				{
					<span>None</span>
				}
            </td>
            <td>
                    @if (item.DurationInMilliseconds != null)
                    {
                            TimeSpan t = TimeSpan.FromMilliseconds((double)item.DurationInMilliseconds);
                        @String.Format("{0:D2}:{1:D2}", t.Minutes, t.Seconds)
                    }
                    else
                    {
                        <span>/</span>
                    }
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<nav aria-label="Page navigation example" class="d-flex justify-content-center">
  <ul class="pagination">
    @if (Model.Tracks.Page > 1)
    {
        <li class="page-item"><a class="page-link" href="?&page=@(Model.Tracks.Page - 1)">Previous</a></li>
    }
    @{
        var start = Model.Tracks.Page < 5 ? 1 : Model.Tracks.Page - 4;
        var end = Model.Tracks.TotalPages - Model.Tracks.Page < 5 ? Model.Tracks.TotalPages : Model.Tracks.Page + 4;
    }
    @for (int i = start; i < end; i++)
    {
            @if (i == Model.Tracks.Page)
            {
                <li class="page-item active"><a class="page-link" href="?&page=@i">@i</a></li>
            }
            else
            {
                <li class="page-item"><a class="page-link" href="?&page=@i">@i</a></li>
            }
    }
    @if (Model.Tracks.Page < Model.Tracks.TotalPages)
    {
        <li class="page-item"><a class="page-link" href="?&page=@(Model.Tracks.Page + 1)">Next</a></li>
    }
  </ul>
</nav>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.9/js/bootstrap-select.min.js"></script>
<script>

    $('#searchForm').onsubmit = function () { 
        console.log($('#artistSelect').val());
    };

        $('.selectpicker').selectpicker({
      });
</script>
